03-apps/n8n/config/workflows/Scrape_Event_To_Calendar.json
{
  "name": "Scrape Event To Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-event-calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "scrape-event-calendar-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-assignment",
              "name": "url",
              "type": "string",
              "value": "={{ $json.body.url || $json.body.website_url || 'https://www.bluesmuse.dance/' }}"
            },
            {
              "id": "event-name-pattern",
              "name": "eventNamePattern",
              "type": "string",
              "value": "={{ $json.body.event_name_pattern || $json.body.eventName || '' }}"
            },
            {
              "id": "calendar-id",
              "name": "calendarId",
              "type": "string",
              "value": "={{ $json.body.calendar_id || 'primary' }}"
            },
            {
              "id": "timezone",
              "name": "timezone",
              "type": "string",
              "value": "={{ $json.body.timezone || 'America/New_York' }}"
            },
            {
              "id": "location-pattern",
              "name": "locationPattern",
              "type": "string",
              "value": "={{ $json.body.location_pattern || $json.body.location || '' }}"
            },
            {
              "id": "description-template",
              "name": "descriptionTemplate",
              "type": "string",
              "value": "={{ $json.body.description_template || $json.body.description || '' }}"
            },
            {
              "id": "html-content",
              "name": "htmlContent",
              "type": "string",
              "value": "={{ $json.body.html_content || $json.body.html || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-params-id",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-html-check",
              "leftValue": "={{ $json.htmlContent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-html-id",
      "name": "Has HTML?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "html-data",
              "name": "data",
              "type": "string",
              "value": "={{ $json.htmlContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "use-cached-html-id",
      "name": "Use Cached HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-website-id",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "mode": "merge",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-html-id",
      "name": "Merge HTML Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract event information from website HTML\nconst html = $input.first().json.data || $input.first().json.body || '';\nconst params = $('Extract Parameters').first().json;\n\n// Extract event name\nlet eventName = params.eventNamePattern || 'Event';\nif (!params.eventNamePattern) {\n  // Try to extract from HTML\n  const nameMatch = html.match(/<title>([^<]+)<\\/title>/i) || \n                     html.match(/<h1[^>]*>([^<]+)<\\/h1>/i) ||\n                     html.match(/<h2[^>]*>([^<]+)<\\/h2>/i);\n  if (nameMatch) {\n    eventName = nameMatch[1].trim();\n  }\n}\n\n// Extract dates - multiple patterns\nlet startDate = null;\nlet endDate = null;\nconst datePatterns = [\n  // \"October 16th, 17th, and 18th, 2026\"\n  /(January|February|March|April|May|June|July|August|September|October|November|December)\\s+(\\d{1,2})(?:st|nd|rd|th)?(?:,\\s*(?:and\\s+)?(\\d{1,2})(?:st|nd|rd|th)?)?(?:,\\s+and\\s+(\\d{1,2})(?:st|nd|rd|th)?)?,\\s+(\\d{4})/i,\n  // \"Oct 16-18, 2026\" or \"Oct 16, 2026\"\n  /(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\\.?\\s+(\\d{1,2})(?:-|–|—)(\\d{1,2})?,\\s+(\\d{4})/i,\n  // MM/DD/YYYY or MM-DD-YYYY\n  /(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})/,\n  // YYYY-MM-DD\n  /(\\d{4})-(\\d{2})-(\\d{2})/\n];\n\nconst monthMap = {\n  'january': 0, 'jan': 0, 'february': 1, 'feb': 1,\n  'march': 2, 'mar': 2, 'april': 3, 'apr': 3,\n  'may': 4, 'june': 5, 'jun': 5,\n  'july': 6, 'jul': 6, 'august': 7, 'aug': 7,\n  'september': 8, 'sep': 8, 'october': 9, 'oct': 9,\n  'november': 10, 'nov': 10, 'december': 11, 'dec': 11\n};\n\nfor (const pattern of datePatterns) {\n  const match = html.match(pattern);\n  if (match) {\n    if (match[0].match(/^(January|February|March|April|May|June|July|August|September|October|November|December)/i)) {\n      // Full month name format\n      const monthName = match[1].toLowerCase();\n      const month = monthMap[monthName];\n      const year = parseInt(match[5] || match[4]);\n      const day1 = parseInt(match[2]);\n      const day2 = parseInt(match[3] || match[4] || day1);\n      const day3 = parseInt(match[4] || day2);\n      \n      startDate = new Date(year, month, day1);\n      endDate = new Date(year, month, day3 || day2 || day1, 23, 59, 59);\n      break;\n    } else if (match[0].match(/^(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)/i)) {\n      // Abbreviated month format\n      const monthName = match[1].toLowerCase();\n      const month = monthMap[monthName];\n      const year = parseInt(match[4]);\n      const day1 = parseInt(match[2]);\n      const day2 = parseInt(match[3]);\n      \n      startDate = new Date(year, month, day1);\n      endDate = new Date(year, month, day2 || day1, 23, 59, 59);\n      break;\n    } else if (match[1] && match[2] && match[3]) {\n      // Numeric format\n      if (match[1].length === 4) {\n        // YYYY-MM-DD\n        const year = parseInt(match[1]);\n        const month = parseInt(match[2]) - 1;\n        const day = parseInt(match[3]);\n        startDate = new Date(year, month, day);\n        endDate = new Date(year, month, day, 23, 59, 59);\n      } else {\n        // MM/DD/YYYY or MM-DD-YYYY\n        const month = parseInt(match[1]) - 1;\n        const day = parseInt(match[2]);\n        const year = parseInt(match[3]);\n        startDate = new Date(year, month, day);\n        endDate = new Date(year, month, day, 23, 59, 59);\n      }\n      break;\n    }\n  }\n}\n\n// Extract location\nlet location = params.locationPattern || '';\nif (!location) {\n  // Try common location patterns\n  const locationPatterns = [\n    /(?:Location|Venue|Where)[^:]*:?\\s*([^<\\n]+)/i,\n    /([A-Z][a-z]+(?:,\\s*)?[A-Z]{2})/,\n    /([A-Z][a-z]+(?:,\\s*)?[A-Z][a-z]+(?:,\\s*)?[A-Z]{2})/\n  ];\n  \n  for (const pattern of locationPatterns) {\n    const match = html.match(pattern);\n    if (match && match[1]) {\n      location = match[1].trim();\n      break;\n    }\n  }\n}\n\n// Extract description\nlet description = params.descriptionTemplate || '';\nif (!description) {\n  const descMatch = html.match(/<meta[^>]*description[^>]*content=\"([^\"]+)\"/i) || \n                     html.match(/<p[^>]*>([^<]{50,500})<\\/p>/i);\n  if (descMatch) {\n    description = descMatch[1].trim();\n  }\n}\n\n// Add website URL to description\nif (description && params.url) {\n  description += '\\n\\nWebsite: ' + params.url;\n} else if (params.url) {\n  description = 'Website: ' + params.url;\n}\n\n// Format dates for Google Calendar (ISO 8601)\nconst formatDate = (date) => {\n  if (!date) return null;\n  return date.toISOString().replace(/[-:]/g, '').split('.')[0] + 'Z';\n};\n\n// Validate dates\nif (!startDate || !endDate) {\n  return [{\n    json: {\n      error: 'Could not extract dates from website',\n      html: html.substring(0, 1000)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    summary: eventName,\n    description: description,\n    location: location,\n    start: {\n      dateTime: formatDate(startDate),\n      timeZone: params.timezone\n    },\n    end: {\n      dateTime: formatDate(endDate),\n      timeZone: params.timezone\n    },\n    calendarId: params.calendarId,\n    // Additional metadata\n    eventName: eventName,\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n    rawLocation: location,\n    sourceUrl: params.url\n  }\n}];"
      },
      "id": "parse-event-id",
      "name": "Parse Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check-id",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": "={{ $json.calendarId || 'primary' }}",
        "options": {
          "q": "={{ $json.summary }}",
          "timeMin": "={{ $json.start.dateTime }}",
          "maxResults": 1
        }
      },
      "id": "check-existing-id",
      "name": "Check Existing Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "event-exists-check",
              "leftValue": "={{ $json.items ? $json.items.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "event-exists-id",
      "name": "Event Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendarId": "={{ $('Parse Event Data').item.json.calendarId || 'primary' }}",
        "eventId": "={{ $json.items[0].id }}",
        "start": "={{ $('Parse Event Data').item.json.start.dateTime }}",
        "end": "={{ $('Parse Event Data').item.json.end.dateTime }}",
        "summary": "={{ $('Parse Event Data').item.json.summary }}",
        "description": "={{ $('Parse Event Data').item.json.description }}",
        "location": "={{ $('Parse Event Data').item.json.location }}",
        "options": {
          "sendUpdates": "none"
        }
      },
      "id": "update-event-id",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1780,
        100
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": "={{ $json.calendarId || 'primary' }}",
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "summary": "={{ $json.summary }}",
        "description": "={{ $json.description }}",
        "location": "={{ $json.location }}",
        "options": {
          "sendUpdates": "none"
        }
      },
      "id": "create-event-id",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-action",
              "name": "action",
              "type": "string",
              "value": "={{ $json.id ? 'updated' : 'created' }}"
            },
            {
              "id": "format-event-id",
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "format-summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.summary }}"
            },
            {
              "id": "format-start",
              "name": "start",
              "type": "string",
              "value": "={{ $json.start.dateTime }}"
            },
            {
              "id": "format-end",
              "name": "end",
              "type": "string",
              "value": "={{ $json.end.dateTime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response-id",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook-id",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-response",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error }}"
            },
            {
              "id": "error-message",
              "name": "message",
              "type": "string",
              "value": "Failed to parse event data from website"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response-id",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Has HTML?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HTML?": {
      "main": [
        [
          {
            "node": "Use Cached HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached HTML": {
      "main": [
        [
          {
            "node": "Merge HTML Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Merge HTML Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge HTML Sources": {
      "main": [
        [
          {
            "node": "Parse Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event Data": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Existing Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Event": {
      "main": [
        [
          {
            "node": "Event Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Exists?": {
      "main": [
        [
          {
            "node": "Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "scrape-event-calendar-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "620f0d7e3114cb344761d7d45a21ef2a32096f91d8696e7057756042e1999e2c"
  },
  "id": "ScrapeEventToCalendar",
  "tags": []
}

